extends layout

block content
	h1= title
	p Welcome to #{title}
	if accTokenTaken
		p Logged In (#{accTokenCookie})
	else
		a(href='https://api.instagram.com/oauth/authorize/?client_id=b4f6b81ffabf4794b200f67ee4e13eea&redirect_uri=http://localhost:8080/auth-return&response_type=code') Insta-Login

	if message
		h3 Auth message:
		h4 #{message}

	if accTokenTaken
		//input(
		//	type='text'
		//	name='userName'
		//	id='userNameId'
		//	value='2beens'
		//)
		//a(class='button' href='/api/inst') Go
		
		form.form-vertical(method='get', action='/api/inst/photos')
			div.form-group
				input.form-control(name='username', value=query, placeholder='Instagram username...', autofocus)

			div.form-action
				input.btn.btn-primary(type='submit', value='Search')